html,
body {
	padding: 0;
	margin: 0;
}

.app {
	display: flex;
	flex-direction: row;
	min-height: 100%;
	align-items: stretch;
}

.left-panel {
	display: flex;
	flex: 0 0 330px;
	display: block;
}

.left-panel-inner {
	position: fixed;
	box-sizing: border-box;
	width: 330px;
	padding: 10px;
}

.main-panel {
	display: block;
	flex: 1 1;
}

.test-data-viewer {
	flex: 1 1 auto;
}

.test-data-chart {
	min-height: 300px;
}
